In [2]:
import pandas as pd
train_data_path = '/Users/pulkit/Desktop/Wids week 1 assignment /healthcare/train_data.csv'
test_data_path = '/Users/pulkit/Desktop/Wids week 1 assignment /healthcare/test_data.csv'
X = pd.read_csv(train_data_path)
y = pd.read_csv(test_data_path)
X.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [3]:
y.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit
0,318439,21,c,3,Z,3,gynecology,S,A,2.0,17006,2.0,Emergency,Moderate,2,71-80,3095.0
1,318440,29,a,4,X,2,gynecology,S,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4018.0
2,318441,26,b,2,Y,3,gynecology,Q,D,4.0,17006,2.0,Emergency,Moderate,3,71-80,4492.0
3,318442,6,a,6,X,3,gynecology,Q,F,2.0,17006,2.0,Trauma,Moderate,3,71-80,4173.0
4,318443,28,b,11,X,2,gynecology,R,F,2.0,17006,2.0,Trauma,Moderate,4,71-80,4161.0

 --> Removing some unwanted columns 

 X_unwanted = ['case_id','Available Extra Rooms in Hospital','Ward_Type','Ward_Facility_Code','Bed Grade','patientid','Visitors with Patient']
 
y_unwanted = ['case_id','Available Extra Rooms in Hospital','Ward_Type','Ward_Facility_Code','Bed Grade','patientid','Visitors with Patient']

In [4]:
X_unwanted = ['case_id','Available Extra Rooms in Hospital','Ward_Type','Ward_Facility_Code','Bed Grade','patientid','Visitors with Patient']
y_unwanted = ['case_id','Available Extra Rooms in Hospital','Ward_Type','Ward_Facility_Code','Bed Grade','patientid','Visitors with Patient']

In [5]:
reduced_X = X.drop(X_unwanted,axis = 1)
reduced_y = y.drop(y_unwanted , axis = 1)
reduced_X.head()

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Department,City_Code_Patient,Type of Admission,Severity of Illness,Age,Admission_Deposit,Stay
0,8,c,3,Z,radiotherapy,7.0,Emergency,Extreme,51-60,4911.0,0-10
1,2,c,5,Z,radiotherapy,7.0,Trauma,Extreme,51-60,5954.0,41-50
2,10,e,1,X,anesthesia,7.0,Trauma,Extreme,51-60,4745.0,31-40
3,26,b,2,Y,radiotherapy,7.0,Trauma,Extreme,51-60,7272.0,41-50
4,26,b,2,Y,radiotherapy,7.0,Trauma,Extreme,51-60,5558.0,41-50

In [6]:
reduced_y.head()

,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Department,City_Code_Patient,Type of Admission,Severity of Illness,Age,Admission_Deposit
0,21,c,3,Z,gynecology,2.0,Emergency,Moderate,71-80,3095.0
1,29,a,4,X,gynecology,2.0,Trauma,Moderate,71-80,4018.0
2,26,b,2,Y,gynecology,2.0,Emergency,Moderate,71-80,4492.0
3,6,a,6,X,gynecology,2.0,Trauma,Moderate,71-80,4173.0
4,28,b,11,X,gynecology,2.0,Trauma,Moderate,71-80,4161.0

In [7]:
print(reduced_y.Department.unique())
print(reduced_X.Hospital_type_code.unique())
print(reduced_X.Hospital_region_code.unique())
print(reduced_X['Severity of Illness'].unique())
print(reduced_X['Type of Admission'].unique())
print(reduced_X['Age'].unique())
Ordinalencoder_cols = ['Severity of Illness','Type of Admission','Age']
OnehotEncoder_cols = ['Department','Hospital_type_code','Hospital_region_code']
# one hot encoding for Department , hospital type code , hospital region code
# ordinal encoding for severity of illness , Type of Admission

['gynecology' 'anesthesia' 'TB & Chest disease' 'radiotherapy' 'surgery']
['c' 'e' 'b' 'a' 'f' 'd' 'g']
['Z' 'X' 'Y']
['Extreme' 'Moderate' 'Minor']
['Emergency' 'Trauma' 'Urgent']
['51-60' '71-80' '31-40' '41-50' '81-90' '61-70' '21-30' '11-20' '0-10'
 '91-100']

In [8]:
#  now checking any missing value in data

In [9]:
cols_with_missing_values = []
for cols in reduced_X.columns:
    if reduced_X[cols].isnull().any():
        cols_with_missing_values.append(cols)
cols_with_missing_values

['City_Code_Patient']

In [10]:
# filling missing values with city code of hospital
for i in range(0,len(reduced_X.City_Code_Hospital)):
    if pd.isnull(reduced_X['City_Code_Patient'][i]):
        reduced_X['City_Code_Patient'][i] = reduced_X['City_Code_Hospital'][i]

for i in range(0,len(reduced_y.City_Code_Hospital)):
    if pd.isnull(reduced_y['City_Code_Patient'][i]):
        reduced_y['City_Code_Patient'][i] = reduced_y['City_Code_Hospital'][i]

/var/folders/tj/jchklzk12r9dtgh7nktlwqqr0000gn/T/ipykernel_38133/1751989601.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_X['City_Code_Patient'][i] = reduced_X['City_Code_Hospital'][i]
/var/folders/tj/jchklzk12r9dtgh7nktlwqqr0000gn/T/ipykernel_38133/1751989601.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_y['City_Code_Patient'][i] = reduced_y['City_Code_Hospital'][i]

In [11]:
X_train = reduced_X.drop('Stay', axis = 1)
stay = ['Stay']
y_train = reduced_X[stay]

In [12]:
import numpy as np
arr = np.array(y_train)

Ordinal Encoding

In [13]:
from sklearn.preprocessing import OrdinalEncoder
# copy
label_X_train = X_train.copy()  # training data features
label_X_valid = reduced_y.copy() # testing data
label_y_train = arr.copy() # training data output 
# apply ordinal encoder
ordinal_encoder = OrdinalEncoder()
label_X_train[Ordinalencoder_cols] = ordinal_encoder.fit_transform(X_train[Ordinalencoder_cols])
label_X_valid[Ordinalencoder_cols] = ordinal_encoder.transform(reduced_y[Ordinalencoder_cols])
label_y_train = ordinal_encoder.fit_transform(arr)

Encoding Severity of illness

moderate-> 0

minor -> 1

extreme -> 2

Encoding Type of Admission

Emergency -> 0

trauma -> 1

urgent -> 2

One hot encoding

In [14]:
from sklearn.preprocessing import OneHotEncoder

OH_encoder = OneHotEncoder(handle_unknown='ignore',sparse = False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[OnehotEncoder_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(reduced_y[OnehotEncoder_cols]))

# put back indexes
OH_cols_train.index = X_train.index
OH_cols_valid.index = reduced_y.index

# remove categorical columns
num_X_train = label_X_train.drop(OnehotEncoder_cols,axis =1)
num_X_valid  = label_X_valid.drop(OnehotEncoder_cols,axis = 1)

# adding columns 
Final_X_train = pd.concat([num_X_train,OH_cols_train],axis =1)
Final_X_valid = pd.concat([num_X_valid , OH_cols_valid], axis = 1)

In [15]:
from sklearn.ensemble import RandomForestRegressor

Health_model = RandomForestRegressor(random_state=1)
Health_model.fit(Final_X_train,label_y_train.ravel())
preds = Health_model.predict(Final_X_valid)
print(preds)

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/validation.py:1858: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

[2.95   4.26   4.38   ... 2.18   1.82   2.5275]

In [18]:
import math 
for i in range(0,len(preds)):
    preds[i] = math.ceil(preds[i])
prediction = pd.Series(preds)

In [20]:
prediction.to_csv("Predictions.csv")